RSI/Web References/RFQWebServiceForUpdateStatus/RFQWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="updateRSIStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfq_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfq_ver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateRSIStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateRSIStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="updateRSIStatusSoapIn">
    <wsdl:part name="parameters" element="tns:updateRSIStatus" />
  </wsdl:message>
  <wsdl:message name="updateRSIStatusSoapOut">
    <wsdl:part name="parameters" element="tns:updateRSIStatusResponse" />
  </wsdl:message>
  <wsdl:message name="updateRSIStatusHttpGetIn">
    <wsdl:part name="rfq_no" type="s:string" />
    <wsdl:part name="rfq_ver" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateRSIStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="updateRSIStatusHttpPostIn">
    <wsdl:part name="rfq_no" type="s:string" />
    <wsdl:part name="rfq_ver" type="s:string" />
    <wsdl:part name="status" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateRSIStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="RFQWebServiceSoap">
    <wsdl:operation name="updateRSIStatus">
      <wsdl:input message="tns:updateRSIStatusSoapIn" />
      <wsdl:output message="tns:updateRSIStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RFQWebServiceHttpGet">
    <wsdl:operation name="updateRSIStatus">
      <wsdl:input message="tns:updateRSIStatusHttpGetIn" />
      <wsdl:output message="tns:updateRSIStatusHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RFQWebServiceHttpPost">
    <wsdl:operation name="updateRSIStatus">
      <wsdl:input message="tns:updateRSIStatusHttpPostIn" />
      <wsdl:output message="tns:updateRSIStatusHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RFQWebServiceSoap" type="tns:RFQWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateRSIStatus">
      <soap:operation soapAction="http://tempuri.org/updateRSIStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFQWebServiceSoap12" type="tns:RFQWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateRSIStatus">
      <soap12:operation soapAction="http://tempuri.org/updateRSIStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFQWebServiceHttpGet" type="tns:RFQWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="updateRSIStatus">
      <http:operation location="/updateRSIStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RFQWebServiceHttpPost" type="tns:RFQWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="updateRSIStatus">
      <http:operation location="/updateRSIStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RFQWebService">
    <wsdl:port name="RFQWebServiceSoap" binding="tns:RFQWebServiceSoap">
      <soap:address location="http://auhqplmapts01.corpnet.auo.com/RFQ/Content/WebService/RFQWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RFQWebServiceSoap12" binding="tns:RFQWebServiceSoap12">
      <soap12:address location="http://auhqplmapts01.corpnet.auo.com/RFQ/Content/WebService/RFQWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RFQWebServiceHttpGet" binding="tns:RFQWebServiceHttpGet">
      <http:address location="http://auhqplmapts01.corpnet.auo.com/RFQ/Content/WebService/RFQWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RFQWebServiceHttpPost" binding="tns:RFQWebServiceHttpPost">
      <http:address location="http://auhqplmapts01.corpnet.auo.com/RFQ/Content/WebService/RFQWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>