RSI/Service References/DBCS_SERVICE/WCF_ConnectionInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCF_ConnectionInfo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://auhqitapts1/DBCS_SERVICE/WCF/WCF_ConnectionInfo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://auhqitapts1/DBCS_SERVICE/WCF/WCF_ConnectionInfo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://auhqitapts1/DBCS_SERVICE/WCF/WCF_ConnectionInfo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBCS_Service.WCF" />
      <xsd:import schemaLocation="http://auhqitapts1/DBCS_SERVICE/WCF/WCF_ConnectionInfo.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://auhqitapts1/DBCS_SERVICE/WCF/WCF_ConnectionInfo.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCF_ConnectionInfo_GetDBConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnection" />
  </wsdl:message>
  <wsdl:message name="IWCF_ConnectionInfo_GetDBConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_ConnectionInfo_GetDBConnectionArray_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnectionArray" />
  </wsdl:message>
  <wsdl:message name="IWCF_ConnectionInfo_GetDBConnectionArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBConnectionArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_ConnectionInfo_GetDBCSCodeBySystemId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBCSCodeBySystemId" />
  </wsdl:message>
  <wsdl:message name="IWCF_ConnectionInfo_GetDBCSCodeBySystemId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBCSCodeBySystemIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCF_ConnectionInfo">
    <wsdl:operation name="GetDBConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_ConnectionInfo/GetDBConnection" message="tns:IWCF_ConnectionInfo_GetDBConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_ConnectionInfo/GetDBConnectionResponse" message="tns:IWCF_ConnectionInfo_GetDBConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBConnectionArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_ConnectionInfo/GetDBConnectionArray" message="tns:IWCF_ConnectionInfo_GetDBConnectionArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_ConnectionInfo/GetDBConnectionArrayResponse" message="tns:IWCF_ConnectionInfo_GetDBConnectionArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBCSCodeBySystemId">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_ConnectionInfo/GetDBCSCodeBySystemId" message="tns:IWCF_ConnectionInfo_GetDBCSCodeBySystemId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_ConnectionInfo/GetDBCSCodeBySystemIdResponse" message="tns:IWCF_ConnectionInfo_GetDBCSCodeBySystemId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCF_ConnectionInfo" type="tns:IWCF_ConnectionInfo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDBConnection">
      <soap:operation soapAction="http://tempuri.org/IWCF_ConnectionInfo/GetDBConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBConnectionArray">
      <soap:operation soapAction="http://tempuri.org/IWCF_ConnectionInfo/GetDBConnectionArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBCSCodeBySystemId">
      <soap:operation soapAction="http://tempuri.org/IWCF_ConnectionInfo/GetDBCSCodeBySystemId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCF_ConnectionInfo">
    <wsdl:port name="BasicHttpBinding_IWCF_ConnectionInfo" binding="tns:BasicHttpBinding_IWCF_ConnectionInfo">
      <soap:address location="http://auhqitapts1/DBCS_SERVICE/WCF/WCF_ConnectionInfo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>